@model List<RatingModel>
@{
    ViewData["Title"] = "Ratings";
}

<h2>Ratings list</h2>

<br />
<a asp-controller="Student" asp-action="Index">Go to Student List</a>
</br>
<br />
<a asp-controller="Course" asp-action="Index">Go to Course List</a>
</br>

@if (Model.Count > 0)
{

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Course</th>
            <th>Rating</th>
            <th>Description</th>
        </tr>

        @foreach (var rating in Model)
        {
            <tr>
                <td>@rating.Student.Name</td>
                <td>@rating.Student.Surname</td>
                <td>@rating.Course.Course</td>
                <td>@rating.Rating</td>
                <td>@rating.Description</td>
            </tr>
        }


    </table>
}

else
{
    <td>There is no data</td>
}